# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=5065b937-770d-45c1-933a-6b922ee505a5

    # Set to true to disable all reporting
    B:opt-out=false
}


